.admin-dashboard {
    display: flex;
    min-height: 100vh;
    flex-grow: 1;
  }
  
    
    .sidebar {
      width: 250px;
      background-color: #132B4B;
      color: white;
      padding: 20px;
      border-top-right-radius: 100px;
    }
  
    .sidebar p {
      padding-bottom: 10px; 
      margin-bottom: 10px; 
      border-bottom: 1px solid #cccccc5d; 
      font-size: 15px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .admin{
      margin-bottom: 80px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    }
    .main-content {
      flex-grow: 1;
      background-color: white;
  
    }
    .icon {
      width: 25px;
      height: 25px; 
  }
  .highlight {
    color: #e44747; 
    font-weight: bold; 
  }
  
    .header {
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 22px;
    }
    
    .summary-cards {
      display: flex;
      justify-content: center; /* Center horizontally */
      padding: 20px;
      gap: 20px;
      margin-bottom: 20px;
      align-items: center; /* Center vertically */
  }
    .highlight-background {
      color: #000000; 
  }
  
    .pending{
      font-size: bold;
    }
  
    .pending-sub{
  
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #FFD700;
    }
    
    .card {
      display: flex;
      margin: 15px;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      border-radius: 50px;
    }
  
    .card-image {
      margin-bottom: 5px;
      width: 50px; 
      height: 50px; 
      margin-right: 20px;
      border-radius: 50%; 
      object-fit: cover; 
      align-items: center;
    }
    
    .card-content {
      display: flex;
      flex-direction: column;
    }
    
    .card-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 5px;
    }
    
    .card-value {
      font-size: 0.9rem;
      color: #555;
      margin-left: 5px;
    }
    
    .project-list {
      background-color: #fff;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      width: 95%; /* Adjust the width as needed */
      margin: 0 auto; /* Center the container horizontally */
  }
    
    .project-item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #eee;
    }
    
    .project-item:last-child {
      border-bottom: none;
    }
  
    .approve-button {
      display: flex;
      justify-content: center; /* Center the text horizontally */
      align-items: center; /* Center the text vertically */
      border-radius: 100px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: #39e75f;
      border: none;
      width: 100px;
      height: 30px;
    }
   
  
    .decline-button{
      background-color: #87CEEB;
      border: none;
      width: 100px;
      height: 30px;
      border-radius: 100px;
      justify-content: center;
      align-items: center;
      border-width: 2;
    }
  
    .w3-bar {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      border-radius: 8px;
    }
    
    .w3-bar-item.w3-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 24px;
    }
    
    .w3-bar-item.w3-circle {
      border-radius: 50%;
      margin-right: 10px;
    }
    
    .w3-bar-item {
      margin-left: 10px;
    }
    
    .w3-large {
      font-size: 16px;
      font-weight: bold;
    }
  
    .w3-span-sub {
      font-size: 12px;
      color: #71797E	;
    }
  
    .admin-pic{
      border-radius: 50%;
      margin-right: 5;
    }
  
    .admin-container {
      display: flex;
      align-items: center; 
      margin-bottom: 60px;
    }
   
    
    .user-item {
      display: flex;
      align-items: center;
    }
    
    .user-image {
      width: 85px; 
      height: 85px; 
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
    
    .user-details {
      flex-grow: 1; 
    }
    
    .user-name {
      font-size: 1.2rem;
      font-weight: bold;
    }
    
    .user-info {
      font-size: 0.9rem;
      color: #555;
    }
    
    .admin-text {
      font-size: 1.2rem; 
      font-weight: bold; 
    }  
    .wrapper{
      display: flex;
      position: relative;
    }
    
    .wrapper .side{
      width: 200px;
      height: 100%;
      padding: 30px 0px;
      position: fixed;
    }
    
    .wrapper .side h2{
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
    .side ul {
      list-style: none; /* Remove list style */
      padding: 0; /* Remove default padding */
    }
    
    .wrapper .side ul li{
      padding: 15px;
      border-bottom: 1px solid #bdb8d7;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid rgba(255,255,255,0.05);
    }    
    
    .wrapper .side ul li a{
      color: white;
      display: block;
      text-decoration: none;
    }
    
    .wrapper .side ul li a .fas{
      width: 25px;
    }
    
    .wrapper .side ul li:hover{
      background-color: #7abdea;
  
    }
        
    .wrapper .side ul li:hover a{
      color: #fff;
    }
     